{% extends '::base.html.twig' %}

{% block content %}

<div class="page-header">
    <h1><a href="{{ path('page_show', { 'slug': page.slug }) }}">{{ page.title }}</a></h1>
</div>

{{ page.content|markdown }}

{% endblock content %}

{% block headline %}{{ page.title }}{% endblock headline %}